@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3573BD;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 150px;
    height: 150px;
}

.title {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

