---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import TimelineContainer from "../components/TimelineContainer.astro";
import { EDUCATION } from "../data/data-education.astro";
import { EXPERIENCE } from "../data/data-experience.astro";

// icons
import Linkedin from "../icons/LinkedinIcon.astro";
import Github from "../icons/GithubIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperiencieIcon from "../icons/ExperienceIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import FigureSkills from "../components/FigureSkills.astro";
import CssIcon from "../icons/CssIcon.astro";
import JavascriptIcon from "../icons/JavascriptIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import SettingIcon from "../icons/SettingIcon.astro";
import EducationIcon from "../icons/EducationIcon.astro";
import UserIcon from "../icons/UserIcon.astro";
import ProjectsIcon from "../icons/ProjectsIcon.astro";
// End icons
---

<Layout
  title="Portafolio Manuel Gallego Barra - Desarrollador Web Frontend"
  description="Programador Web Frontend"
>
  <main>
    <SectionContainer
      class="flex justify-center dark:bg-[#323639] rounded-3xl py-10 border-2 border-gray-200 w-full mt-20 sm:mt-14"
    >
      <main class="flex flex-col gap-y-5">
        <div class="flex justify-center flex-wrap align-middle gap-x-6">
          <img
            class="rounded-full w-[110px]"
            src="https://avatars.githubusercontent.com/u/110920373?v=4"
            alt="manuel gallego foto"
          />
        </div>
        <div class="flex justify-center items-center">
          <a href="https://www.linkedin.com/in/manuelgallegobarra/" target="_blank">
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
        <h1
          class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row justify-center text-center gap-x-4 text-current dark:text-white"
        >
          Manuel Gallego Barra
        </h1>
        <h2 class="text-xl text-center opacity-90">
          Desarrollador Web Frontend / Especialista en Marketing Digital.
        </h2>
        <nav>
          <li class="flex justify-center gap-x-5 my-2">
            <a href="https://www.linkedin.com/in/manuelgallegobarra/" target="_blank">
              <Linkedin class="size-6" />
            </a>
            <a href="https://github.com/manugallegob" target="_blank">
              <Github class="size-6" />
            </a>
          </li>
        </nav>
      </main>
    </SectionContainer>

    <!-- About Me -->
    <SectionContainer id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-5 flex justify-center items-center gap-x-3">
        <UserIcon class="size-6" />
        Sobre Mi
      </h2>
      <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-12">
        <img
          class="rounded-3xl mx-auto object-cover h-full max-w-96 sm:w-full"
          src="/manuel-gallego-pic1.jpg"
          alt=""
        />
        <div class="flex flex-col h-full justify-center md:col-span-2 mt-5 sm:mt-0">
          <div>
            <p>Hola, soy Manuel</p>
            <p>
              Desarrollador Web Frontend Junior con más de 6 años de experiencia en el
              campo del marketing digital. He desarrollado una profunda afinidad por el
              mundo del desarrollo web, donde he contribuido significativamente al éxito
              de mis proyectos optimizando páginas web para mejorar el ratio de conversión
              de mis clientes.
            </p>

            <p>
              Soy reconocido por mi capacidad para aprender rápidamente y mi enfoque
              proactivo en la resolución de problemas. Mi habilidad para trabajar en
              equipo y comunicarme efectivamente me ha permitido colaborar exitosamente en
              proyectos multidisciplinarios, aportando soluciones innovadoras y orientadas
              a resultados.
            </p>
            <p>
              Creo firmemente en el aprendizaje continuo y estoy siempre dispuesto a
              adquirir nuevas habilidades y enfrentar desafíos con entusiasmo y
              determinación.
            </p>
          </div>
        </div>
      </div>
    </SectionContainer>

    <!-- Skills -->
    <SectionContainer class="flex flex-col justify-center" id="skills">
      <h2 class="text-3xl font-semibold mb-5 flex justify-center items-center gap-x-3">
        <SettingIcon class="size-6" />
        Skills
      </h2>
      <div class="flex justify-center flex-wrap gap-3">
        <FigureSkills name="HTML 5">
          <HtmlIcon class="size-5" />
        </FigureSkills>
        <FigureSkills name="CSS">
          <CssIcon class="size-5" />
        </FigureSkills>
        <FigureSkills name="Tailwind">
          <TailwindIcon class="size-5" />
        </FigureSkills>
        <FigureSkills name="Javascript">
          <JavascriptIcon class="size-5" />
        </FigureSkills>
        <FigureSkills name="TypeScript">
          <TypescriptIcon class="size-5" />
        </FigureSkills>
        <FigureSkills name="React">
          <ReactIcon class="size-5" />
        </FigureSkills>
      </div>
    </SectionContainer>

    <!-- Education -->
    <SectionContainer id="education">
      <h2 class="text-3xl font-semibold mb-5 flex justify-center items-center gap-x-3">
        <EducationIcon class="size-6" />
        Formación
      </h2>
      <TimelineContainer data={EDUCATION} />
    </SectionContainer>

    <!-- Work Experience  -->
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-5 flex justify-center items-center gap-x-3">
        <ExperiencieIcon class="size-6" />
        Experiencia Laboral
      </h2>
      <TimelineContainer data={EXPERIENCE} />
    </SectionContainer>

    <!-- Projects -->
    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-5 flex justify-center items-center gap-x-3">
        <ProjectsIcon class="size-6" />
        Proyectos
      </h2>
      <p class="text-center mb-4">
        Próximamente, estaré subiendo mis últimos proyectos para que puedas echarle un
        vistazo ;)
      </p>
      <div class="rounded-3xl m-auto w-[500px] ">
        <img
          class="rounded-3xl"
          src="/section-under-construction.webp"
          alt=""
        />
      </div>
    </SectionContainer>
  </main>
</Layout>
